#portfolioDigi{
    .container-fluid{
        display: flex;
        .row{
            .col-3{
                width: 250px;
                height: 250px;
                .thumbnail-link{
                    width: 100%;
                    height: 100%;
                    .thumbnail{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}